<%include partials/headerNoLog%>

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 col-md-4 " >
				<img src="/img/corsair.jpg" style="width:100%;">
			</div>
			<div class="col-lg-8 col-md-8"> 
				  
				<span><h4>CORSAIR Vengeance RGB 32GB (4 x 8GB) DDR4 3000</h4></span>
				<span><h4>(PC4-24000) C15 - Intel 100/200 Series Desktop</h4></span>
				<span><h4>Memory</h4></span>
				<div class="alert alert-danger" role="alert">
					Extra savings w/ promo code EMCBBCE27, ends 11/24
				</div>
				<ul >
				  <li >DDR4 3000 (PC4 24000)</li>
				  <li >Timing 15-17-17-35</li>
				  <li >CAS Latency 15</li>
				  <li >Voltage 1.35V</li>
				</ul>
				<div style="padding-left:4rem;"><h2>$434.99</h2></div>
				<div class="mt-4" style="padding-left:2rem;">
					<a class="btn btn-primary" href="/cart/corsair" role="button">Add To Cart</a>
					<a class="btn btn-primary" href="/buy/434.99/corsair" role="button">Buy It</a>
				</div>

			</div>
			<div>

			</div>
		</div>	
	</div>




	</body>
	</html>