<%include partials/headerNoLog%>

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 col-md-4 " >
				<img src="/img/gskill.t.jpg" style="width:100%;">
			</div>
			<div class="col-lg-8 col-md-8"> 
				  
				<span><h4>G.SKILL TridentZ RGB Series 16GB (2 x 8GB) 288-Pin </h4></span>
				<span><h4>DDR4 SDRAM DDR4 3200 (PC4 25600) Desktop</h4></span>
				<span><h4>Memory Model F4-3200C16D-16GTZR </h4></span>
				<div class="alert alert-danger" role="alert">
					Extra savings w/ promo code EMCBBCE27, ends 11/24
				</div>
				<ul >
				  <li >DDR4 3200 (PC4 25600)</li>
				  <li >Timing 16-18-18-38</li>
				  <li >CAS Latency 16 </li>
				  <li >Voltage 1.35V </li>
				</ul>
				<div style="padding-left:4rem;"><h2>$229.99</h2></div>
				<div class="mt-4" style="padding-left:2rem;">
					<a class="btn btn-primary" href="/cart/gskill" role="button">Add To Cart</a>
					<a class="btn btn-primary" href="/buy/229.99/gskill" role="button">Buy It</a>
				</div>

			</div>
			<div>

			</div>
		</div>	
	</div>




	</body>
	</html>