<%include partials/headerNoLog%>

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 col-md-4 " >
				<img src="/img/i5.jpg" style="width:100%;">
			</div>
			<div class="col-lg-8 col-md-8"> 
				<span><h4>Intel Core i5-7600K Kaby Lake Quad-Core 3.8 GHz</h4></span>
				<span><h4>LGA 1151 91W BX80677I57600K Desktop Processor</h4></span>
				<div class="alert alert-danger" role="alert">
					Extra savings w/ promo code EMCBBCE27, ends 11/24
				</div>
				<ul >
				  <li >For A Great VR Experience</li>
				  <li >OS Support - Windows 10 Only</li>
				  <li >Max Turbo Frequency 4.2 GHz</li>
				  <li >Intel HD Graphics 630</li>
				  <li >Unlocked Processor</li>
				  <li>DDR4 & DDR3L Support</li>
				  <li>Display Resolution up to 4096 x 2304</li>
				  <li>Socket LGA 1151</li>
				  <li>Cooler / thermal paste not included</li>
				</ul>
				<div style="padding-left:4rem;"><h2>$199.99</h2></div>
				<div class="mt-4" style="padding-left:2rem;">
					<a class="btn btn-primary" href="/cart/i57600k" role="button">Add To Cart</a>
					<a class="btn btn-primary" href="/buy/199.99/i57600k" role="button">Buy It</a>
				</div>

			</div>
			<div>

			</div>
		</div>	
	</div>




	</body>
	</html>