<%include partials/headerNoLog%>

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 col-md-4 " >
				<img src="/img/g.skill.jpg" style="width:100%;">
			</div>
			<div class="col-lg-8 col-md-8"> 				  
				<span><h4>G.SKILL Ripjaws V Series 16GB (2 x 8GB) 288-Pin</h4></span>
				<span><h4>DDR4 SDRAM DDR4 2400 (PC4 19200) Intel Z170</h4></span>
				<span><h4>Platform / Intel X99 Platform Desktop Memory</h4></span>
				<span><h4>Model F4-2400C15D-16GVS</h4></span>
				<div class="alert alert-danger" role="alert">
					Extra savings w/ promo code EMCBBCE27, ends 11/24
				</div>
				<ul >
				  <li >DDR4 2400 (PC4 19200)</li>
				  <li >Timing 15-15-15-35</li>
				  <li >CAS Latency 15</li>
				  <li >Voltage 1.2V</li>
				</ul>
				<div style="padding-left:4rem;"><h2>$190.99</h2></div>
				<div class="mt-4" style="padding-left:2rem;">
					<a class="btn btn-primary" href="/cart/ripjaws" role="button">Add To Cart</a>
					<a class="btn btn-primary" href="/buy/190.00/ripjaws" role="button">Buy It</a>
				</div>

			</div>
			<div>

			</div>
		</div>	
	</div>




	</body>
	</html>