<%include partials/headerNoLog%>

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 col-md-4 " >
				<img src="/img/ryzen.jpg" style="width:100%;">
			</div>
			<div class="col-lg-8 col-md-8"> 
				  
				<span><h4>AMD RYZEN 7 1700 8-Core 3.0 GHz (3.7 GHz Turbo)</h4></span>
				<span><h4>Socket AM4 65W YD1700BBAEBOX Desktop</h4></span>
				<span><h4>Processor</h4></span>
				<div class="alert alert-danger" role="alert">
					Extra savings w/ promo code EMCBBCE27, ends 11/24
				</div>
				<ul >
				  <li >AMD SenseMI Technology </li>
				  <li >Socket AM4</li>
				  <li >Max Turbo Frequency 3.7 GHz</li>
				  <li >16MB L3 Cache</li>
				  <li>4MB L2 Cache</li>
				  <li>DDR4 Support</li>
				  <li>Unlocked Processor</li>
				  <li>Thermal Design Power 65W</li>
				  <li>AMD Wraith Spire LED Cooler Included</li>
				</ul>
				<div style="padding-left:4rem;"><h2>$269.99</h2></div>
				<div class="mt-4" style="padding-left:2rem;">
					<a class="btn btn-primary" href="/cart/ryzen" role="button">Add To Cart</a>
					<a class="btn btn-primary" href="/buy/269.99/ryzen" role="button">Buy It</a>
				</div>

			</div>
			<div>

			</div>
		</div>	
	</div>




	</body>
	</html>