<%include partials/headerNoLog%>

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 col-md-4 " >
				<img src="/img/team.jpg" style="width:100%;">
			</div>
			<div class="col-lg-8 col-md-8"> 				  
				<span><h4>Team T-Force DARK 16GB (2 x 8GB) 288-Pin DDR4</h4></span>
				<span><h4>SDRAM DDR4 2400 (PC4 19200) Desktop Memory</h4></span>
				<span><h4>Model TDRED416G2400HC14DC01</h4></span>
				<div class="alert alert-danger" role="alert">
					Extra savings w/ promo code EMCBBCE27, ends 11/24
				</div>
				<ul >
				  <li >DDR4 2400 (PC4 19200)</li>
				  <li >Timing 14-16-16-31</li>
				  <li >CAS Latency 14</li>
				  <li >Voltage 1.2V</li>
				</ul>
				<div style="padding-left:4rem;"><h2>$174.99</h2></div>
				<div class="mt-4" style="padding-left:2rem;">
					<a class="btn btn-primary" href="/cart/team" role="button">Add To Cart</a>
					<a class="btn btn-primary" href="/buy/174.99/team" role="button">Buy It</a>
				</div>

			</div>
			<div>

			</div>
		</div>	
	</div>




	</body>
	</html>